/*
 *  Copyright (c) 2018-present, Evgeny Nadymov
 *
 * This source code is licensed under the GPL v.3.0 license found in the
 * LICENSE file in the root directory of this source tree.
 */

.settings {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.settings-content {
    width: 100%;
    height: 100%;
    position: relative;
}

.settings-list-item {
    padding: 12px;
    border-radius: 20px;
}

.settings-list-item2 {
    padding: 12px;
    border-radius: 20px;
}

.settings-list-item-icon {
    margin: 4px 0 4px 4px;
    align-self: flex-start;
}

.settings-list-item-text {
    margin-top: 2px;
    margin-bottom: 2px;
}

.settings-list-item-text2 {
    margin: 2px 4px;
}
