/*
 *  Copyright (c) 2018-present, Evgeny Nadymov
 *
 * This source code is licensed under the GPL v.3.0 license found in the
 * LICENSE file in the root directory of this source tree.
 */

.action-bar {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    border-radius: 20px;
    margin: 5px;
    height: 60px;
    background: var(--panel-background);
    border-bottom: 1px solid var(--border);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 12px;
}

.action-bar-content {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.action-bar-close-button {
}
