/*
 *  Copyright (c) 2018-present, Evgeny Nadymov
 *
 * This source code is licensed under the GPL v.3.0 license found in the
 * LICENSE file in the root directory of this source tree.
 */

.stickers-hint {
    max-width: 695px;
    margin: 0 auto;
    border-radius: 20px;
    /* overflow: hidden; */
    width: calc(100% - 22px);
    /*border-top: 1px solid var(--border);*/
    background: var(--panel-background);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4px;
    max-height: 190px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
}

.sticker-hints-item {
    padding: 6px;
}
