/*
 *  Copyright (c) 2018-present, Evgeny Nadymov
 *
 * This source code is licensed under the GPL v.3.0 license found in the
 * LICENSE file in the root directory of this source tree.
 */

.shared-media-content {
    transform: translateZ(0);
    will-change: transform;
    padding: 8px;
    min-height: calc(100% - 44px - 2 * 8px);
}

.shared-media-virt-content {
    transform: translateZ(0);
    will-change: transform;
    position: relative;
    min-height: calc(100% - 44px - 2 * 8px);
    margin: 8px 0;
}

.shared-media-virt-item {
    position: absolute;
    left: 8px;
    right: 8px;
}

.groups-in-common-item {
    padding: 12px;
    margin-bottom: 4px;
    border-radius: 20px;
}