/*
 *  Copyright (c) 2018-present, Evgeny Nadymov
 *
 * This source code is licensed under the GPL v.3.0 license found in the
 * LICENSE file in the root directory of this source tree.
 */
.found-public-chat {
    padding: 0;
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 4px;
}

.found-public-chat-wrapper {
    box-sizing: border-box;
    padding: 12px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.item-selected .found-public-chat-wrapper {
    background: var(--color-hover);
    color: #fff;
}
