/*
 *  Copyright (c) 2018-present, Evgeny Nadymov
 *
 * This source code is licensed under the GPL v.3.0 license found in the
 * LICENSE file in the root directory of this source tree.
 */

/*.user:hover{*/
/*background: #f2f6fa;*/
/*}*/

.user {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.user-wrapper {
    display: flex;
    align-items: center;
    user-select: none;
}

.user-inner-wrapper {
    overflow: hidden;
    flex-grow: 1;
    margin-left: 12px;
    z-index: 1;
}

.user-placeholder-tile {
    width: var(--tile-size-normal);
    height: var(--tile-size-normal);
    border-radius: 50%;
    flex-shrink: 0;
    background: var(--dialog-subtle-color);
}

.user-list-item {
    padding: 12px;
    border-radius: 20px;
}

.user-list-item-checkbox {
    margin: 0 15px 0 -5px;
}