/*
 *  Copyright (c) 2018-present, Evgeny Nadymov
 *
 * This source code is licensed under the GPL v.3.0 license found in the
 * LICENSE file in the root directory of this source tree.
 */

.shared-document {
    position: relative;
    background: transparent;
    padding: 10px 12px;
}

.shared-document .document {
    max-width: unset;
    min-width: unset;
    margin: 0;
}

.shared-document .audio-content {
    min-width: unset;
}
