/*
 *  Copyright (c) 2018-present, Evgeny Nadymov
 *
 * This source code is licensed under the GPL v.3.0 license found in the
 * LICENSE file in the root directory of this source tree.
 */

.video {
    border-radius: 20px;
    transform: translateZ(0);
    overflow: hidden;
    position: relative;
    color: white;
    user-select: none;
}

.video-big {
    /*border-radius: 20px;*/
    margin: -6px -9px;
}

.video-title {
    margin-top: 6px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.video-caption {
    margin-bottom: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.video-preview {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.video-thumbnail {
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.media-blurred {
    filter: blur(2px);
}

.media-loaded {
    opacity: 0;
}

.media-mini-blurred {
    filter: blur(10px);
    transform: scale(1.1);
}

.video-play {
    width: 48px;
    height: 48px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px;
    box-sizing: border-box;
}

.media-top-meta {
    position: absolute;
    left: 6px;
    top: 6px;
    border-radius: 13px;
    padding: 2px 5px;
    background: rgba(0, 0, 0, 0.25);
    font-size: 13px;
    line-height: normal;
    user-select: none;
    color: #ffffff;
}
