/*
 *  Copyright (c) 2018-present, Evgeny Nadymov
 *
 * This source code is licensed under the GPL v.3.0 license found in the
 * LICENSE file in the root directory of this source tree.
 */

.web-page {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    font-size: 14px;
    line-height: normal;
}

.web-page-wrapper {
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 8px;
    overflow: hidden;
}

.web-page-site-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--message-in-reply-title);
}

.message-bubble-out .web-page-site-name {
    color: var(--message-out-reply-title);
}

.web-page-button {
    width: 100%;
    margin-top: 8px;
    /*color: var(--message-in-reply-title);*/
}

.message-bubble-out .web-page-button {
    /*color: var(--message-out-reply-title)*/
}

.web-page-title {
    font-weight: bold;
}

.web-page-description {
    white-space: pre-wrap;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.web-page-photo {
    margin-top: 6px;
    border-radius: 20px;
    transform: translateZ(0);
    overflow: hidden;
    cursor: pointer;
}
