/*
 *  Copyright (c) 2018-present, Evgeny Nadymov
 *
 * This source code is licensed under the GPL v.3.0 license found in the
 * LICENSE file in the root directory of this source tree.
 */

.day-meta {
    padding: 5px 0;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.day-meta-wrapper {
    font-size: 15px;
    line-height: normal;
    height: 24px;
    border-radius: 20px;
    color: var(--message-service-color);
    background: var(--message-service-background);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
